$primary-color: #418383;
$secondary-color: #0b4442;

@mixin gradient($color1,$color2){
background: linear-gradient(90deg, rgba(251,167,167,1) 0%, rgba(245,183,156,1) 30%, rgba(255,174,140,1) 40%, rgba(255,151,109,1) 64%, rgba(255,241,161,1) 100%, rgba(0,212,255,1) 100%);
}

body{
    margin:10px;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    @include gradient(#f1fec6, #a882dd);
}

h1{
    display:flex;
    justify-content: center;
    color:$secondary-color;
}
.budget-tracker{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:$primary-color;
}
input{
    margin:5px;
    display:flex;
    font-size:25px;
}
.summary{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:$primary-color;
}
.clear-button{
    display: flex;
    justify-content: center;
}
button{
    background-color: $primary-color;
    color:white;
}
.item-list{
    font-size: 20px;
    color:$secondary-color;
}